.checkbox-content{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: "0.3s";
  border-bottom: "1px solid lightgray";
   box-shadow: "0 20px 80px -12.125px rgba(0,0,0,0.3)";
  padding:10px;
  margin: 10px;

}
.checkbox-content:hover{
 box-shadow: "0 16px 70px -12.125px rgba(0,0,0,0.3)"
}

.card-content{
padding: 30px;

display: flex;
justify-content: center;
  /* background-color: #c7532c; */
 box-shadow: "0 16px 70px -12.125px rgba(0,0,0,0.3)";
}
.card-content:hover{
 box-shadow: "0 16px 70px -12.125px rgba(0,0,0,0.3)"
}
.price-page{
  /* height:'500px'; */
  background-color: coral;
}
