/* .jumbotron {
  background-image: url('../images/book.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;  
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
} */
.navbar{
  background-color: black;
}
.logo{
  margin-left: 40px;
}
.HeaderContent{
  display: flex;
}
button{
  padding: 15px 35px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  color:#fff;
}
button:hover{
  color: #000000;
  background-color: #fff;
}
.home-content{
  margin-top: 0px;
  /* background-color: #9c7013; */
  /* background-color: #b88312; */
  background-color: #c7532c;
  padding: 30px;
}
.video-content{
  margin-top: 0px;
 background-color: #6c8f31;
  padding: 40px;
}
.Home-card{
  display: flex;
  flex-wrap: wrap;
}
.header{ 
  font-size: 50px;
    margin: '10px 0 30px';
    line-height: '30px';
    color: #fff;
    font-family: 'sans-serif';
  }
  .Heading-content{
    margin-top: 50px;
  }
  .Top-content{
    margin-top: 50px;
  }
.offer{
  font-family: "Gill Sans", sans-serif;
  color: #fff;
  font-style: italic;
  font-weight: 600;
}
.print-content{
  font-family: "Gill Sans", sans-serif;
  color: #fff;
  text-align: left;
}
.work-content{
  margin: 40px;
}
.famous-title{
  font-weight: bold;
}
.famous-card{
  margin: 20px;
}
.work-title{
  font-size: 30px;
  font-weight: bold;
}
.home-link {
  text-decoration: none;
  color: black;
}