/* .jumbotron {
  background-image: url('../images/book.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;  
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
} */
.navbar{
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
.logo{
  margin-left: 40px;
}
.HeaderContent{
  display: flex;
}
button{
  padding: 15px 35px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  color:#fff;
}
button:hover{
  color: #000000;
  background-color: #fff;
}

.home-content{
  margin-top: 0px;
  /* background-color: #9c7013; */
  /* background-color: #b88312; 
  background-color: #c7532c;*/
 background-color: #c62128;
background-image: linear-gradient(147deg, #c62128 0%, #a00000 74%);
  padding:2%;
  box-shadow:10px 10px 10px 10px rgba(0,0,0,0.253);
 
}
.video-content{
  margin-top:120px;
  margin-bottom:120px;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  padding:5%;
  box-shadow:10px 10px 10px 10px rgba(0,0,0,0.253);
 
}
.Home-card{
  display: flex;
  flex-wrap: wrap;
}

.header{ 
  font-size: 50px;
    margin: '10px 0 30px';
    line-height: '30px';
    color:#1B1212;
    font-family: 'sans-serif';
  }
  .Heading-content{
    margin-top: 50px;
  }
  .Top-content{
    text-align:center;
    margin-top: 25px;
  }
.offer{
  font-family: "Gill Sans", sans-serif;
  color:	#1B1212;
  font-style: italic;

}
.print-content{
  font-family: "Gill Sans", sans-serif;
  color:#344850;
  text-align: left;
}
.work-content{
  margin:60px;
}

.work-title{
  font-size: 30px;
  font-weight: bold;
}
.home-link {
  text-decoration: none;
  color: black;
}