*{text-decoration:none;
    list-style:none;
    border:none;

    
}









.book-content{
    margin-top:25vh;   
}

.book-image{
    height:200px;
    width:180px;
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);
   
}   
.book-image:hover{
    cursor:pointer;
    opacity:0.8;
  
}


/*.img-circle
{height:200px;
width:200px;
border-radius:100%;
padding:20px;
border:1px solid grey;
box-shadow:2px 2px 0px 0px grey;}



.img-circle:hover{
    cursor:pointer;
    padding:30px;
}*/
/*.col-xl-3{
    padding: 40px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.col-xl-4{
    padding: 4px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    
}
*/

.description{
    color:#414141;  
}
.mrp{
    color:#414141;
    text-decoration: line-through;  
}
.jumbotron{
    margin-top:16px;
    background-color:#e9ecef;
    padding:20px;
    border-radius:10px;
}
/*menucard*/
.menuimage{
   
    height:60vh;
    width:100%;
    background:#6495ED;
}
.card:hover{
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);  
}
.book-image2{
    height:180px;
    width:180px;
    border-radius:5px;
    box-shadow:2px 2px 4px 4px grey;
    margin-top:20px;
}   
.book-image2:hover{
    box-shadow:5px 10px 20px 10px rgba(0,0,0,0.253);
    
}

#shop-section{
    background:snow;
    padding:2%;
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);
    margin-bottom:20px;
   
}


.back-shop-content{
       
    margin-top:5vh;
    margin-bottom:5vh;
}
/*diary-planner*/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;

   
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    background:#fff;
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    max-height:100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);
    margin-top:20px;
    margin-bottom:20px;
    border-radius:5px;
  
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 4px;

}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}




ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;

}


.back-shop-content{
    background:#B3E5FC;
    padding:20px;

    margin:auto;

}
.printitems li{
    border:2px solid #B3E5FC;
    padding:20px;
    width:50%;
    margin:auto;
    margin-top:20px;
    border-radius:10px;
    box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);

    
  
}




.book-image3{
    height:130px;
    width:130px;
    border-radius:3px;
    margin-bottom:12px;
    box-shadow:5px 5px 10px 1px rgba(0,0,0,0.253);
}
.img-circle{
    border-radius:100%;
    float:right;
    cursor:pointer;
    box-shadow:5px 5px 10px 1px rgba(0,0,0,0.253);
}
/*.printcategory{
    display:none;
}
*/
.book-image4{
    height:auto;
    width:50%;
    border-radius:5px;
    margin-bottom:20px;
    margin-top:20px;
} 
.book-image3{
    border:2px solid lightgray;
    padding:0.3%;
    margin-right:20px;
}
.book-image3:hover{
  border:2px solid #0e73b0;
}
/*diary*/
.btn-primary{
border-radius:0px;
box-shadow:10px 10px 10px 10px rgba(0,0,0,0.253);
width:20%;
background:#0277BD;
}
.btn-light{
    border-radius:0px;
    box-shadow:10px 10px 10px 10px rgba(0,0,0,0.253);
    width:20%;
     
    }