.footer{
 /* fallback for old browsers */
padding:1%;
background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
.brand{
  display: flex;
  align-items: center;
}
.title{
  color: #ffffff;
   margin-left: 10px;
  
}
.text{
 color: #fff;
  
}
.social-content{
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  align-items: center;

}
.icon-content{
  display: flex;
 cursor: pointer;
  color: #fff;
   
  grid-gap: 10px;
margin-left:-5px
}
.terms-content{
  color: #fff;
  display: flex;
  grid-gap: 15px;
}
.service-content{
  
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
 margin:auto;
}

.community{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding-bottom: 30px;
}
.social-icon{
  color: #fff;
}
.contact{
  cursor: pointer;
}